*{ 
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {margin: 0; }

/*
* Variables que usamos de manera frecuente
*/
:root{
    --color-primary: #0d6efd;
    --color-primary-clear: #5699ff;
    --color-primary-darked: #1055bd;
    --color-secondary: #adb5bd;
    --color-secondary-clear: #e0e5e9;
    --color-secondary-darked: #8d8f92;
    --color-success: #4CAF50;
    --color-success-clear: #3bd88f;
    --color-success-darked: #00b606;
    --color-info: #17a2b8;
    --color-info-clear: #5ccadb;
    --color-info-darked: #106875;
    --color-warning: #ffc107;
    --color-warning-clear: #ecd17f;
    --color-warning-darked: #cc9d0f;
    --color-danger: #dc3545;
    --color-danger-clear: #f85d6c;
    --color-danger-darked: #bb1b2b;
    --color-light: #f8f9fa;
    --color-light-darked: #91979e;
    --color-dark: #616264;
    --color-dark-darked: #212122;
    --border-color: #dee2e6;
    --border-color-darked: #878f96;
    --container-padding: 1em;
}